<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsm.dao.LoginDao">

    <select id="selectUserByIphoneNo" parameterType="String" resultType="SysUser">
        select t.iphone_no,t.po
        from sys_user t
        where t.iphone_no = #{iphoneNo}
    </select>
</mapper>